## Biodata
`Milestone 1`

`Nama  : Muhammad Fikry Miftahuddin`

`Batch : CODA-RMT-006`

`Program ini dibuat untuk mengambil data dari website dengan Web Scraping menggunakan Pandas.`

## Import Libraries

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import requests
import time

## Declare variabel yang diperlukan

In [3]:
brand_name = []
product_name = []
product_price = []
color = []

## A. Extract

#### code dibawah untuk mengambil seluruh data-data product yang masih raw

In [4]:
driver = webdriver.Chrome()
web_link = f'https://www.footlocker.id/men/shoes.html'
driver.get(web_link)
x = 0
while True:
    x += 1
    driver.execute_script("scrollBy(0, 150)")
    time.sleep(0.5)
    if x > 10:
        break
time.sleep(2)
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')
for data in soup.find_all('div', {'class', 'product-item-info'}):
    try:
        brand_name.append(data.find('h3', {'class':'product-brand'}).get_text())
    except:
        brand_name.append(None)
    try:
        product_name.append(data.find('a', {'class':'product-item-link'}).get_text())
    except:
        product_name.append(None)
    try:
        element_fp = data.find('span', {'data-price-type':'finalPrice'})
        if element_fp:
            element_p = element_fp.find('span') 
            if element_p: 
                product_price.append(element_p.get_text()) 
            else: 
                product_price.append(None)  
        else:
            product_price.append(None)
    except:
        product_price.append(None)
    try:
        color.append(data.find('span', {'class':'value'}).get_text())
    except:
        color.append(None)
driver.close()

## B. Transform

##### Membuat data frame yang original

In [6]:
df_ori = pd.DataFrame()

#### Memasukkan data yang ada kedalam data frame

In [7]:
df_ori['brand'] = brand_name
df_ori['product_name'] = product_name
df_ori['price'] = product_price
df_ori['color'] = color

#### Membuat copy dari data frame ori, untuk dilakukan eksplorasi data

In [26]:
df1 = df_ori.copy()

#### Membersih kan kolom brand dan product_name agar tinggal characternya saja

In [30]:
df1['brand'] = df1['brand'].str.replace('\n', '')

In [ ]:
df1['product_name'] = df1['product_name'].str.replace('\n', '')
df1['product_name'] = df1['product_name'].str.strip()

#### Mengubah data di kolom price, yang tadinya Rp. 700.000 menjadi 700000. Dan merubah format data menjadi Int64

In [ ]:
df1['price'] = df1['price'].str.replace('Rp.', '')
df1['price'] = df1['price'].str.replace('.', '')
df1['price'] = df1['price'].astype(int)

#### Menampilkan kondisi struktur data

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         115 non-null    object
 1   product_name  115 non-null    object
 2   price         115 non-null    int64
 3   color         115 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.7+ KB

#### Menampilkan seluruh data

In [43]:
df1

,brand,product_name,price,color
0,ADIDAS,nmd_r1 primeblue men's sneakers - black,690000,Hitam
1,NIKE,dunk low retro men's basketball shoes - white,774500,Putih
2,NIKE,zoom vomero 5 men's sneakers shoes - white,1244500,Putih
3,NEW BALANCE,530 unisex sneakers shoes - silver,1119300,Abu-abu
4,NEW BALANCE,new balance 530 unisex sneakers shoes - white/...,1119300,Putih
...,...,...,...,...
110,NEW BALANCE,9060 unisex sneakers shoes - brown/black,1559400,Coklat
111,ADIDAS,adidas sl 72 rs men's sneakers - night indigo,960000,Biru
112,ASICS,asics ex89 unisex sneakers shoes - steeple grey,1199400,Abu-abu
113,ASICS,gel-kayano 14 unisex sneakers shoes - birch,2299000,Perak
114,ADIDAS,handball spezial men's sneakers shoes - light ...,1700000,Biru

#### Menyimpan data kedalam file csv

In [44]:
df1.to_csv('data_sepatu.csv', index=False)

In [ ]:
df_ori.to_csv('data_sepatu_raw.csv', index=False)